// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2022 MediaTek Inc.
 * Author: Sam Shih <sam.shih@mediatek.com>
 */

/dts-v1/;
#include "mt7988.dtsi"
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "mt7988-ruijie-rg-be72-pro";
	compatible = "mediatek,mt7988", "mediatek,mt7988-rfb";

	chosen {
		stdout-path = &uart0;
	};

	config {
		bootcmd = "mtkboardboot";
		blink_led = "sys_green";
		system_led = "sys_red";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x10000000>;
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&button_pins>;

		reset-button {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&gpio 13 GPIO_ACTIVE_LOW>;
		};

		mesh-button {
			label = "mesh";
			linux,code = <BTN_8>;
			gpios = <&gpio 14 GPIO_ACTIVE_LOW>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		led-0 {
			label = "atm_red";
			gpios = <&gpio 61 GPIO_ACTIVE_LOW>;
		};

		led-1 {
			label = "atm_green";
			gpios = <&gpio 62 GPIO_ACTIVE_LOW>;
		};

		led-2 {
			label = "atm_blue";
			gpios = <&gpio 4 GPIO_ACTIVE_LOW>;
		};

		led-3 {
			label = "sys_red";
			gpios = <&gpio 58 GPIO_ACTIVE_LOW>;
		};

		led-4 {
			label = "sys_green";
			gpios = <&gpio 60 GPIO_ACTIVE_LOW>;
		};
	};

// Not work
	// pwm-leds {
	// 	compatible = "pwm-leds";

	// 	led-0 {
	// 		label = "led_b";
	// 		max-brightness = <255>;
	// 		u-boot,default-brightness = <0>;
	// 		pwms = <&pwm 2 10000>;
	// 	};
		
	// 	led-1 {
	// 		label = "led_g";
	// 		max-brightness = <255>;
	// 		u-boot,default-brightness = <0>;
	// 		pwms = <&pwm 4 10000>;
	// 	};
	// };

	reg_3p3v: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_1p8v: regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	cpus {
		/delete-node/ cpu@3;
	};

	bl2_verify {
		bl2_compatible = "spim-nand";
	};
};

&uart0 {
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";
};

&eth {
	status = "okay";
	mediatek,gmac-id = <0>;
	phy-mode = "usxgmii";
	mediatek,switch = "mt7988";

	fixed-link {
		speed = <1000>;
		full-duplex;
		pause;
	};
};

&pinctrl {
	button_pins: button-pins {
		pins = "GPIO_WPS", "GPIO_RESET";
		mediatek,pull-down-adv = <0>;
	};

	i2c0_pins: i2c0-pins-g0 {
		mux {
			function = "i2c";
			groups = "i2c0_1";
		};
	};

	pwm_led_pins: pwm-led-pins {
		mux {
			function = "pwm";
			groups =  "pwm2_0", "pwm4_0";
		};
	};

	spi0_pins: spi0-pins {
		mux {
			function = "spi";
			groups = "spi0", "spi0_wp_hold";
		};
	};

};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm_led_pins>;
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	must_tx;
	enhance_timing;
	dma_ext;
	ipm_design;
	support_quad;
	tick_dly = <2>;
	sample_sel = <0>;

	spi_nand@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <52000000>;
	};
};

&watchdog {
	status = "disabled";
};